<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, 
				initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='dashboard.css') }}">
	<title>thefuncalendar</title>
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
	<!-- Main wrapper for the calendar application -->
	<div class="wrapper">
		<div class="container-calendar">
			<div id="left">
				<h1>The Fun Calendar</h1>
				<div id="my-calendar">
                    <h3>My Calendars</h3>
					<ul id="myCalendarList">
                        <!-- List to display all calendars -->
					</ul>
				</div>
				<div id="calendar-store">
					<h3>Calendar Store</h3><br>
					<div id="organizationSections">
						<!-- Organization sections will be generated here dynamically -->
					</div>
				</div>
			</div>
			<div id="right">
				<h3 id="monthAndYear"></h3>
				<div class="button-container-calendar">
					<button id="previous"
							onclick="previous()">
						‹
					</button>
					<button id="next"
							onclick="next()">
						›
					</button>
				</div>
				<table class="table-calendar"
					id="calendar"
					data-lang="en">
					<thead id="thead-month"></thead>
					<!-- Table body for displaying the calendar -->
					<tbody id="calendar-body"></tbody>
				</table>
				<div class="footer-container-calendar">
					<label for="month">Jump To: </label>
					<!-- Dropdowns to select a specific month and year -->
					<select id="month" onchange="jump()">
						<option value=0>Jan</option>
						<option value=1>Feb</option>
						<option value=2>Mar</option>
						<option value=3>Apr</option>
						<option value=4>May</option>
						<option value=5>Jun</option>
						<option value=6>Jul</option>
						<option value=7>Aug</option>
						<option value=8>Sep</option>
						<option value=9>Oct</option>
						<option value=10>Nov</option>
						<option value=11>Dec</option>
					</select>
					<!-- Dropdown to select a specific year -->
					<select id="year" onchange="jump()"></select>
                    <button id="sync" onclick="sync()">Sync w/ GCal</button>
					<!-- Display flashed messages here -->
                    {% with messages = get_flashed_messages() %}
						<p style="color: red;">{{ messages }}</p>
                      {% if messages %}
                        {% for category, message in messages %}
                          <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
				</div>
			</div>
		</div>
	</div>
	<!-- Include the JavaScript file for the calendar functionality -->
	<script src="{{ url_for('static',filename='dashboard.js') }}"></script>
</body>

</html>